/* Weather Backgrounds */
.clearDay {
    background-image: url(./images/clearday.jpg);
    background-size: cover;
}

.clearNight {
    background-image: url(./images/clearnight.jpg);
    background-size: cover;
}

.mistyDay {
    background-image: url(./images/mistyday.jpg);
    background-size: cover;
}

.mistyNight {
    background-image: url(./images/mistynight.jpg);
    background-size: cover;
}

.rainyDay {
    background-image: url(./images/rainyday.jpg);
    background-size: cover;
}

.rainyNight {
    background-image: url(./images/rainynight.jpg);
    background-size: cover;
}

.snowyDay {
    background-image: url(./images/snowyday.jpg);
    background-size: cover;
}

.snowyNight {
    background-image: url(./images/snowynight.jpg);
    background-size: cover;
}

.thunderDay {
    background-image: url(./images/thunderday.jpg);
    background-size: cover;
}

.thunderNight {
    background-image: url(./images/thundernight.jpg);
    background-size: cover;
}

.fewCloudsDay {
    background-image: url(./images/fewcday.jpg);
    background-size: cover;
}

.fewCloudsNight {
    background-image: url(./images/fewcnight.jpg);
    background-size: cover;
}

.brokenDay {
    background-image: url(./images/brokenday.jpg);
    background-size: cover;
}

.brokenNight {
    background-image: url(./images/brokennight.jpg);
    background-size: cover;
}

.cloudyDay {
    background-image: url(./images/cloudyday.jpg);
    background-size: cover;
}

.cloudyNight {
    background-image: url(./images/cloudynight.jpg);
    background-size: cover;
}