@import url('https://fonts.googleapis.com/css?family=Reggae+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

#logo a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Reggae One', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#logo a:hover {
    text-decoration: underline;
}

#topBar {
    background-color: #1c571c;
    color: #fcfcfc;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

#searchCity {
    border-radius: 20px;
    background-color: #90ee90;
    border: none;
    padding: 10px;
    text-indent: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
    background-repeat: no-repeat;
    background-position: 10px 11px;
    background-size: 15px;
}

#weatherData {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(111, 123, 233, 0.7);
    width: 300px;
    border-radius: 10px;
    border: 1px solid slategray;
}

main {
    height: 89vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.column {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
